body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw; 
    width: 100vw;
    max-width: 1920px;
    margin: 0;
}

.header{
    background: url('./img/t.jpg') center no-repeat;
    background-position: center;
    background-size: cover;
    
    width: 100%;
    max-width: 1920px;
    height: 46.87vw;
}

a {
    text-decoration: none;
    color: white;
}

.menu-wrapper {
    border-bottom: 0.05vw solid;
    border-bottom-color: rgba(161, 161, 161, 0.37);
    height: 5.2vw;
    max-height: 100px;
}

.menu {
    width: 40%;
    margin-right: 20vw;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1vw;
    color: white;
    margin: 0;
    height: 100%;
    padding: 0;
}

.menu ul li {
    height: 100%;
    line-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    border-bottom: 0.1vw solid;
    border-bottom-color: rgba(255, 255, 255, 0);
    font-family: 'Montserrat', 'sans-serif';
    font-weight: normal;
}



.menu-wrapper {
    display: flex;
    justify-content: flex-end;
}

.menu ul li:hover {
    border-bottom: 0.1vw solid rgb(255, 255, 255);
    cursor: pointer;
}

.title p {
    color: white;
    font-size: 0.8vw;
    margin: 0;
}

.u {
    width: 100%;

    height: 80%;
}

.title {
    max-width: 43.22vw;
    width: 100%;
    
}
h1 {
    color: white;
    font-size: 2.5vw;
    text-align: center;
}

.button {
    width: 10.4vw;
    height: 2.3vw;
    font-size: 1vw;
    background: #4985FF;
    box-shadow: 0 0 0.5vw rgba(111, 111, 111, 0.25);
    border-radius: 1.5vw;
    border: none;
    color: white;
    padding: 0;

}

.section2 {
    height: 40vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.m {
    width: 55%;
    height: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-weight: bold;
    font-size: 2vw;
    text-align: center;
    color: #323232;
}

.m p {
    font-weight: normal;
    font-size: 0.83vw;;
    text-align: center;
    color: #999999;
    width: 85%;
}

.o {
    width: 80%;
    height: 100%;
}

.card-title {
    font-style: normal;
    font-weight: 600;
    font-size: 0.9vw;
    line-height: 1.14vw;
    color: #000000;
}

.par {
    font-style: normal;
    font-weight: normal;
    font-size: 0.73vw;
    line-height: 1.14vw;
    color: #999999;
}

.card {
    width: 20%;
    position: relative;
    display: flex;
    margin-left: 8vw;
}

.card img {
    width: 5vw;
    position: absolute;
    left: -6vw;
    top: -1.5vw;
}

.card-wrapper {
    width: 58vw;
    display: flex;
    justify-content: space-around;
}

.section3 {
    height: 41vw;
    background: #F6F6F8;
}


.stan {
    height: 80%;
    display: flex;
    justify-content: center;
}

.st {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.st p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 0.83vw;
    line-height: 1.3vw;
    color: #999999;   
}

.st h2 {
    text-align: left;
}

.moreDetails {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 0.8vw;
    line-height: 1vw;
    text-decoration-line: underline;
    
    color: #4985FF;
}

.img2 {
    width: 26vw;
}

.work {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects {
    width: 57vw;
    height: 20%;
    border-top: 0.05vw solid #E0E0E0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card125 {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.projects h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 1.87vw;
    /* line-height: 2.76vw; */
    margin: 0;
    padding: 0;
    color: #000000;
}

.z {
    width: 2vw;
    margin: 0;
}

.card125 {

    font-style: normal;
    font-weight: normal;
    font-size: 0.9vw;
    margin: 0;

    color: #999999;
}

.wrapp {
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.centered {
    width: 100%;
    height: 50%;
}

.section4 {
    
    height: 51vw;
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%) no-repeat;
    background-size: 100% 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.general {
    width: 57.8vw ;
    height: 85%;
    border-bottom: solid 0.05vw #E0E0E0;
}

.spec {
    width: auto;
    height: 20%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section4 h2 {
    color: white;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 50%;
}

.wo {
    width: 18vw;
    height: auto;
    text-align: left;
}

.wo img {
    width: 100%; 
    border-radius: 0.5vw;
}

.wo h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 0.93vw;
    line-height: 1.14vw;
}

.number {
    color: #4985FF;
    padding-right: 0.3vw;
}

.wo p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8vw;
    line-height: 1.3vw;
    color: #999999;
    width: 95%;
}

.wrapper-wo {
    width: 100%;
    height: 73%;
    display: flex;
    justify-content: space-between;
}

.section5 {
    height: 40.4vw;
    background: #F6F6F8;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.projects2 {
    height: 80%;
    width: 80%;
}

.lorem {
    width: 39vw;
    font-size: 0.83vw;
    line-height: 1.3vw;
    text-align: center;
    margin: 0;
    padding: 0;
    
   
    color: #999999;
}

.co {
    width: 13vw;
}

.projects2 h2 {
    margin: 0;
}

.img-wrapp {
    width: 57.8vw;
    display: flex;
    justify-content: space-between;
}

.section6 {
    width: 100%;
    height: 56.35vw;

    background: url('./img/j.jpg') top no-repeat;
    background-size: cover;
    background-size: 100% 50%;
    background-position: top;
}

.video-work {
    height: 90%;
    width: 57.8vw;
}

.vid {

}

.vid h2 {
    font-weight: bold;
    font-size: 1.8vw;
    line-height: 2.7vw;
    text-align: center;
    margin: 0;
    color: #FFFFFF;
}

.vid p {
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 0.83vw;
line-height: 1.3vw;
text-align: center;

color: #FFFFFF;
}

.video {
    border-radius: 0.5vw;
    overflow:hidden; 
	
}

.video img {
    margin:-1vw -1vw -1vw -1vw; 
    width: 55vw;
}

.mailing {

}